<h2>Formulari cerca</h2>

<form [formGroup]="formulari">
  <input type="text" formControlName="termeCerca" placeholder="Cercar..." />
  <div *ngIf="termeCerca?.touched">
    <p *ngIf="termeCerca?.errors?.['minlength']">
        Mínim 2 caràcters
    </p>
    <p *ngIf="termeCerca?.errors?.['maxlength']">
        Màxim 50 caràcters
    </p>
    <p *ngIf="termeCerca?.pending">
        Validant...
    </p>
    <p *ngIf="termeCerca?.errors?.['sensResultats']">
        No hi ha resultats
    </p>
</div>

  <button 
    type="button" 
    *ngIf="formulari.get('termeCerca')?.value"
    (click)="netejar()">
    Netejar
  </button>

  <p>{{ formulari.value | json }}</p>
</form>